# python binaries
*.pyc

# Created by setup.py
/.coverage
/dist
/build
/pyRVT.egg-info

# Sphinix working directories
/docs/_build

# Temp output
/examples/tmp_output/

# Vim swap and undo files
*.swp
*.un~

# Vim tags
tags

# PyCharm directory
.idea/
