# python binaries
*.pyc

# Created by setup.py
/.coverage
/dist
/build
/pyRVT.egg-info

# Ignore sphinix working directories
/docs/_build

# Ignore vim swap and undo files
*.swp
*.un~

# PyCharm directory
.idea/
