--index-url https://pypi.python.org/simple/

jinja2
matplotlib
numpy
mkdocs
markdown-callouts
mkdocstrings[python]
mkdocs-bibtex
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
mkdocs-jupyter
black
